$header-height: 75px;
$header-height-mobile: 55px;

$std-margin-spacing: 15px;

$z-index-modal: 40;
$z-index-above: 2;

$tablet: 768px; // bulma overwrite so ipad shows as tablet not mobile
$desktop: 1025px;
